<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mxdFile" value="C:\Data\BD_SOPFIM\Suivi_Message_20121004.mxd"/>
    <add key="fileGeodatabase" value="c:\Data\BD_SOPFIM\BD_SOPFIM.gdb"/>

    <add key="MessageTableName" value="SuiviMessages"/>
    <add key="BlocTableName" value="BlocTBE"/>
    <add key="BufferTableName" value="BufferLvTBE"/>
    <add key="PulverisationTableName" value="SuiviPulverisation"/>
    <add key="SuiviDev" value="SuiviDev"/>
    <add key="BufferLvTBE" value="BufferLvTBE" />
  </appSettings>
  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
</configuration>